@charset "utf-8";
/* CSS Document */

body { 
  background-color: #FFE4C4;
  font-family: Times New Roman, serif;
  width: 100%;
  margin: auto;
  padding: 0;
  font-size: 35px;
  font-family: Times New Roman;
  color: #000;
}

}